<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="h1" style="text-align: center" th:text="#{loanCalculator}"></div>
    <div class="row justify-content-center">
        <div class="col-3">
            <form action="/result" th:object="${form}" th:method="post">
                <div class="form-group">
                    <label for="loanAmount" th:text="#{loanAmount}"></label>
                    <input name="loanAmount" id="loanAmount" type="text" class="form-control"
                           th:placeholder="#{sum}"
                           th:filed="*{loanAmount}"/>
                    <p style="color: red" th:if="${#fields.hasErrors('${form.loanAmount}')}"
                       th:errors="*{loanAmount}"></p>
                </div>
                <div class="form-group">
                    <label for="loanTermInMonths" th:text="#{loanTerm}"></label>
                    <input name="loanTermInMonths" id="loanTermInMonths" type="text" class="form-control"
                           th:placeholder="#{term}"
                           th:field="*{loanTermInMonths}"/>
                    <p style="color: red" th:if="${#fields.hasErrors('${form.loanTermInMonths}')}"
                       th:errors="*{loanTermInMonths}"></p>
                </div>
                <div class="form-group">
                    <label for="interestRatePerYear" th:text="#{interestRate}"></label>
                    <input name="interestRatePerYear" id="interestRatePerYear" type="text" class="form-control"
                           th:disabled="true"
                           th:value="15"/>
                </div>
                <button type="submit" class="btn btn-success" th:text="#{calculate}"></button>
            </form>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>