<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
    <table class="table" th:border="2" style="text-align: center">
        <tr th:border="3">
            <th th:border="3" th:bgcolor="afb4b8" th:text="#{paymentNumber}"></th>
            <th th:bgcolor="afb4b8" th:text="#{date}"></th>
            <th th:bgcolor="afb4b8" th:text="#{debt}"></th>
            <th th:bgcolor="afb4b8" th:text="#{interest}"></th>
            <th th:bgcolor="afb4b8" th:text="#{creditBalance}"></th>
            <th th:bgcolor="afb4b8" th:text="#{amount}"></th>
        </tr>

        <tr th:each="payment, stat : ${payments}">
            <td th:text="${payment.paymentNumber}"></td>
            <td th:text="${payment.getPaymentDate.getMonthValue()} + '/' + ${payment.getPaymentDate.getYear()}"></td>
            <td th:text="${payment.getPrincipal}"></td>
            <td th:text="${payment.interest}"></td>
            <td th:text="${payment.getBalance}"></td>
            <td th:text="${payment.getPayment}"></td>
        </tr>
    </table>

    <a class="btn btn-primary" href="/" role="button" th:text="#{back}"></a>

</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>